<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{titleReplacePipe title}}</title>
	<meta name="description" content="{{#if metaDescription}}{{metaDescription}}{{else}}Quality drinks delivered to your door{{/if}}">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="/styles/site.css" rel="stylesheet">
	<link href="/styles/bootstrap-enhancements.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
        - only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="bg-light">
<header id="header" class="shadow-sm bg-white">
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-expand-lg" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target=".navbar-collapse" 
						class="navbar-toggle collapsed" aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand text-primary font-weight-bold">{{{appTitle}}}</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						{{# each navLinks}}
							<li class="nav-item {{#ifeq ../section key}}active{{/ifeq}}">
								<a href="{{href}}" class="nav-link">{{label}}</a>
							</li>
						{{/each}}
					</ul>
					<ul class="nav navbar-nav navbar-right ml-auto">
						{{#if user}}
							<li class="nav-item">
								<a href="/keystone/signout" class="nav-link text-danger">
									<i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
								</a>
							</li>
						{{/if}}
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
<main id="body" class="py-4">
	<!--
        Flash messages allow you to display once-off status messages to users, e.g. form
        validation errors, success messages, etc
    -->
	{{#if messages}}
		<div id="flash-messages" class="container mb-4">
			{{#if messages.info}}
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					{{{flashMessages messages.info}}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{{/if}}
			{{#if messages.success}}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{{flashMessages messages.success}}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{{/if}}
			{{#if messages.warning}}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{{flashMessages messages.warning}}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{{/if}}
			{{#if messages.error}}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{{flashMessages messages.error}}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{{/if}}
		</div>
	{{/if}}
	<!-- The content block should contain the body of your template's content-->
	{{{body}}}
</main>

<footer class="bg-dark text-white py-4 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="mb-0">&copy; {{currentYear}} {{{appTitle}}}. All rights reserved.</p>
			</div>
			<div class="col-md-6 text-right">
				<p class="mb-0">Powered by <a href="http://keystonejs.com" target="_blank" class="text-info">KeystoneJS</a></p>
			</div>
		</div>
	</div>
</footer>
{{!--
    //- jQuery 1.11.3 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.4 (also bundled) for better performance.
--}}
<script src="/js/jquery/jquery-1.11.3.min.js"></script>
{{!--
    //- Customise which Bootstrap javascript files are served by including
    //- them specifically here, instead of bootstrap-3.3.5.min.js
--}}
<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
{{{isAdminEditorJS user}}}
</body>
</html>
