<!doctype html>
<html lang="en" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <title>{{page.title}}</title>

    <meta charset="utf-8"/>
    <meta name="_csrf" content="{{csrf_token_value}}"/>

    {{!--PWA meta--}}
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    {{!--PWA setups and js regestry--}}
    {{>pwaheaders}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{truncate  (cleanHtml page.meta) 500 ' '}}"/>

    {{#if page.keyWords}}<meta name="keywords" content="{{page.keyWords}}"/>{{/if}}
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:site_name" content="Dial A Drink Kenya"/>
    <meta property="og:description" content="{{{truncate  (cleanHtml page.meta) 500}}}"/>

    {{#if product}}
        {{#each product.altImages}}<meta property="og:image" content="{{cloudinaryUrl this crop='fit'}}"/>{{else}}<meta property="og:image" content="{{cloudinaryUrl product.image crop='fit'}}"/>{{/each}}
        <meta property='product:price:amount' content='{{product.price}}'/>
        <meta property='product:price:currency' content='{{product.currency}}'/>
    {{else}}
        <meta property="og:image" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/apple-icon-152x152.png"/>
    {{/if}}

    <meta name="twitter:site" content="@liqourdelivery"/>
    {{#if product}}<meta name="twitter:card" content="summary_large_image"/>{{/if}}
    <meta name="twitter:title" content="{{{cleanHtml page.title}}}"/>
    <meta name="twitter:description" content="{{{truncate  (cleanHtml page.meta) 500}}}"/>
    {{#if page.canonical}}<link rel="canonical" href="{{page.canonical}}"/>{{/if}}

    <style>

        @media (max-width: 991px) {
            .collection-heading-inner.heading-group.item {
                min-height: 377px !important;
            }
            .brand-group{
                padding-left: 0;
            }
        }
        
        @media (min-width: 992px) {
            .brand-group{
                padding-left: 30px;
            }
        }

        canvas.particles-js-canvas-el {
            position: fixed;
            top: 0;
            z-index: -1;
        }
    </style>
</head>

<body class="07_MediaCenter" id="dad_Body">

    {{!-- This file provides the default styling for the KeystoneJS Content Editor only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

    <link rel="alternate stylesheet" onload="if(this.rel!='stylesheet') this.rel='stylesheet';  return true" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700,300"/>
    <link rel="alternate stylesheet" onload="if(this.rel!='stylesheet') this.rel='stylesheet';  return true" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="alternate stylesheet" onload="if(this.rel!='stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="preload stylesheet" as="style" type="text/css" href="/styles/site{{dotmin}}.css">

    {{>jsscripts1}}
 <!-- nav -->
<!-- Header -->
<header id="top" class="home1_theme_header header clearfix">
    <section class="top-header">
        <div class="top-header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="top-header-inner">
                        <div class="left-area hidden-xs">
                            <div class="currency_group hidden-xs currencies-switcher">
                                <a>
                                    <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fit,w_207,h_50/logo.png" height="50px" alt="Dial a Drink logo">
                                    <span style="padding-left: 10px; color: white;  font-size: 18px;">
                                        <span>CALL</span>
                                        <span><strong>{{contactNumber}}</strong></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="tool right-area hidden-xs">
                            <ul class="unstyled">
                                <li class="toolbar-customer my-wishlist"><a href="/">Home</a></li>
                                <li class="toolbar-customer my-wishlist"><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-header">
        <div class="main-header-wrapper">
            <div  class="visible-xs" style="height: 50px">
                <div class="mobile-top-navigation visible-xs" style="position: fixed;">
                    <button id="showLeftPush" class="visible-xs"><i class="fa fa-bars fa-2x"></i></button>
                    <ul class="list-inline">
                        <li class="is-mobile-login">
                            <div class="btn-group">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                        </li>

                        <li class="is-mobile-currency currency_group">
                            <div class="currencies-switcher">
                                <div>
                                    <a href="tel:{{contactNumber}}">
                                        <span style="color: black">{{contactNumber}}</span>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class="is-mobile-cart">
                            <a href="/cart" title="Shopping Cart">
                                <div class="num-items-in-cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="icon">
                                        <span class="number cart-total-pieces">{{cartItemCount this}}</span>
                                    </span>
                                    <div class="ajax-subtotal" style="display:none;"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                                       
                <div class="is-mobile-nav-menu nav-menu visible-xs" 
                    style="position: fixed;top: 36px;z-index: 100;opacity: 0.8;" id="is-mobile-nav-menu">
                    <ul class="nav navbar-nav hoverMenuWrapper">
                        <li class="nav-item">
                            <a href="/giftpacks">
                                <span>Gift Pack</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/">
                                <span>Home</span>
                            </a>
                        </li>

                        {{#each navLinks}}
                            <li class="nav-item">
                                <a href="{{{href}}}">
                                    <span>{{{label}}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="container clearfix">
                <div class="row">
                    <div class="main-header-inner">
                        <div class="nav-top">

                            <div class="nav-search">
                                <form class="search" action="#">
                                    <input type="hidden" name="type" value="product"/>
                                    <input type="image" src="/assets/icon-search.png" alt="Go" id="search">
                                    <input type="text" name="q" class="search_box" placeholder="Search for a drink..."
                                           value="" id="search_box"/>
                                </form>
                            </div>

                            <div class="nav-logo">
                                <h style="font-size: 28px;">
                                    <a href="/">
                                        <strong><span style=" color: #F44336">Dial A Drink Kenya</span></strong>
                                    </a>
                                </h>
                            </div>

                            <div id="cart-target" class="nav-cart ">
                                <div class="cart-info-group">
                                    <a href="/cart" class="cart dropdown-toggle dropdown-link" data-toggle="dropdown"
                                       title="Shopping Cart">
                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                        <div class="num-items-in-cart">
                                            <img class="cart_img" src="/assets/bg-cart.png" alt="My Cart"/>
                                            <span class="cart_text">
												<a href="/cart">
                                                    My Cart
                                                    <span class="number cart-total-pieces" id="number">
                                                        {{cartItemCount this}}
                                                    </span>
												</a>											  
											</span>
                                        </div>
                                    </a>
                                    <div id="cart-info" class="dropdown-menu">
                                        <div id="cart-content">
                                            <div class="loading">
                                                <img src="/assets/loader.gif" alt="Loading.."/> Loading..
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navigation_area">
                            <ul class="navigation_links">
                                <li class="nav-item" style="margin: 0">
                                    <a href="/giftpacks" title="Gift Packs">
                                        <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill,w_32/giftpack.png" alt="Gify Park" style="width: 32px"/>
                                        <span class="hide_affix">Gift Pack</span>
                                    </a>
                                </li>
                                {{#each navLinks}}
                                    <li class="nav-item {{#ifgt submenus.length 0}}dropdown{{/ifgt}}">
                                        <a href="{{{href}}}"{{#ifgt submenus.length 0}} data-toggle="dropdown"
                                           class="dropdown-toggle" {{/ifgt}}>
                                            <span>{{{label}}}</span>
                                        </a>
                                        {{#ifgt submenus.length 0}}
                                            <ul class="dropdown-menu">
                                                {{#each submenus}}
                                                    <li><a href="{{{href}}}">{{{label}}}</a></li>
                                                {{/each}}
                                            </ul>
                                        {{/ifgt}}
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<div class="fix-sticky"></div>

<!-- Main Content -->
<main class="main-content" role="main" style="min-height: 400px">
    <section class="collection-heading">
        <div class="collection-heading-wrapper">
            <div class="container" style="padding-bottom: 0">
                {{#if page.bannerImages }}
                    <div class="row owl-carousel offset-0" data-items="1" data-autoplay="true">
                        {{#if isMobile}}
                            {{#each page.mobileBannerImages}}
                                <div class="collection-heading-inner heading-group item inset-2"
                                    style="height: 377px; background-image:url({{{cloudinaryUrl this height=377 width=377 crop='fit'}}})">
                                </div>
                            {{/each}}
                        {{else}}
                            {{#each page.bannerImages}}
                                <div class="collection-heading-inner heading-group item inset-2"
                                    style="background-image:url({{{cloudinaryUrl this height=200 width=1140 crop='fit'}}})">
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </section>

    <section class="home3_featured" id="home_featured_layout">
        <div class="home_featured_wrapper">
            <div class="container" style="margin-bottom: 0">
                <div class="{{#if page.h1}}col-sm-4{{else}}col-sm-6{{/if}}" style="text-align: left;">
                    <div class="breadcrumb clearfix" style="background-color: transparent">
                        {{#each breadcrumbs}}
                            {{#if @last}}
                                <span itemprop="title" style="color: #f44336;">{{propercase label}}</span>
                            {{else}}
                                <a href="{{href}}" title="Alcohol delivery - {{label}}" itemprop="url">
                                    <span itemprop="title">{{propercase label}}</span>
                                </a>
                                <span class="arrow-space">&#62;</span>
                            {{/if}}
                        {{else}}
                            <span itemprop="title" style="color: #f44336;">
								Home
							</span>
                        {{/each}}
                    </div>
                </div>

                <div class="{{#if page.h1}}col-sm-5{{else}}col-sm-3{{/if}}">
                    {{#if page.h1}}
                        <h1 class="home_featured_title home-title page-title">
                            <span class="category-name">{{{page.h1}}}</span>
                        </h1>
                    {{/if}}
                </div>

                <div class="col-sm-3" style="text-align: center;display:none;">
                    <span>Offer ends in </span><br><span class="countDownTimer" id="countDownTimer">00:00:00</span>
                </div>
            </div>

            {{{body}}}

            {{#if page.content}}
                <div class="container content">
                    {{{page.content}}}
                </div>
            {{/if}}

            <div class="container">
                {{#if groupedBrands}}
                    <h2 style="font-size: 15px;text-transform: uppercase">SHOP BY BRAND</h2>                    
                    {{#each groupedBrands}}
                        <div class="row" style="margin: 8px">
                            <div style="float: left; min-width: 80px"><b style="">{{@key}}</b>:</div> 
                            {{#each this}}
                                <a href="{{brandUrl key}}" title="{{name}}" style="display: inline-block;">{{{name}}}</a>
                                <span style="color: #F44336"> | </span>
                            {{/each}}
                        </div>
                    {{/each}}
                {{else}}

                {{/if}}
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 footerleft ">
                <h6 class="heading7">DIAL A DRINK KENYA</h6>
                <ul class="footer-ul">
                    <li>
                        <a href="/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/delivery-locations">Delivery Locations</a>
                    </li>
                    <li>
                        <a href="#">Gifts Delivery</a>
                    </li>
                    <li>
                        <a href="/pricelist">Get Our Pricelist</a>
                    </li>
                    <li>
                        <a href="/">Drinks Delivery Kenya</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">GENERAL LINKS</h6>
                <ul class="footer-ul">
                    <li>
                        <a href="/terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="/privacy-policy" title="Buy alcohol online in Kenya" rel="noopener">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/sitemap">Sitemap</a>
                    </li>
                    <li>
                        <a href="#">Our Monthly Offers</a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=md.app.ke.dialadrink">Get Our App</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">PAYMENT METHODS</h6>

                <ul style="color: #848484">
                    <li>Cash On Delivery</li>
                    <p>
                    <li>
                        <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/mpesa.png" alt="Pay via MPESA" height="30px">
                    </li>
                    <p>
                    <li>
                        <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/visa.png" alt="Pay via VISA" height="30px">
                    </li>
                    <p>
                    <li>
                        <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/mastercard.png" alt="Pay Via Master Card" height="30px">
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">SOCIAL NETWORKS</h6>
                <div class="footer-ul">
                    <a href="https://www.facebook.com/drinkdeliverynairobi" title="Dial A Drink Facebook"
                       class="icon-social facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/liqourdelivery" title="Dial A Drink Twitter"
                       class="icon-social twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://instagram.com/alcoholdeliverynairobi" title="Dial A Drink Instagram"
                       class="icon-social instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/user/dialadrink" title="Dial A Drink Youtube"
                       class="icon-social youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="https://plus.google.com/u/1/102101315171058540161" title="Dial A Drink Google+"
                       class="icon-social google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="https://www.pinterest.com/liqourdelivery" title="Dial A Drink Pinterest"
                       class="icon-social google-plus">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>©Dial A Drink Kenya 2017 - All Rights Reserved</p>
        </div>
        <div class="col-md-6">
            <!-- <ul class="bottom_ul">
              <li><a href="/">Drinks delivery kenya</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="/">Blog</a></li>
              <li><a href="#">Faq's</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="/sitemap">Site Map</a></li>
            </ul> -->
        </div>
    </div>
</div>
<!--footer start from here-->

<!-- Float right icon -->
<div class="float-right-icon" style="top: 114px;">
    <ul>
        <li class="mobile-only">
            <a href="/cart" title="My cart">
                <span class="badge badge-secondary badge-pill cart-total-pieces" style="position: absolute;left: 18px;background-color: red;">0</span>
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/empty-cart-2.png" width="48px" alt="My cart">
            </a>
        </li>

        <li class="mobile-only">
            <a href="tel:{{contactNumber}}" title="Call to order">
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/phoneicon.png" width="48px" alt="Call to order">
            </a>
        </li>  

        <li class="mobile-only">
            <a target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?l=en&phone=254{{trimLeft contactNumber '0'}}&text=I%20am%20interested%20in%20a%20drink%20from%20your%20site.%20{{urlencode page.canonical}}" title="Whatsup">
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/whatsapp.png" width="48px" alt="Whatsup to order">
            </a>
        </li> 
    </ul>
</div>

<div class="float-right-icon">
    <ul>
        <li>
            <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
                <i class="fa fa-angle-up"></i>
            </div>
        </li>
    </ul>
</div>

{{>jsscripts2}}

</body>
</html>
