<!doctype html>
<html lang="en" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <title>{{titleReplacePipe page.title}}</title>

    <meta charset="utf-8"/>
    <meta name="_csrf" content="{{csrf_token_value}}"/>

    {{!--PWA meta--}}
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    {{!--PWA setups and js regestry--}}
    
    {{>pwaheaders}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if page.meta}}
    <meta name="description" content="{{truncate  (cleanHtml page.meta) 500 ' '}}"/>
    {{else}}
    <meta name="description" content="{{page.title}} "/>
    {{/if}}

    {{#if page.keyWords}}<meta name="keywords" content="{{page.keyWords}}"/>{{/if}}
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:site_name" content="{{appTitle}}"/>
    <meta property="og:description" content="{{{truncate (cleanHtml page.meta) 500}}}"/>
    {{#if product}}
    <meta property='product:price:amount' content='{{product.price}}'/>
    <meta property='product:price:currency' content='{{product.currency}}'/>
    {{#each product.altImages}}<meta property="og:image" content="{{cloudinaryUrl this crop='fit'}}"/>{{else}}<meta property="og:image" content="{{cloudinaryUrl product.image crop='fit'}}"/>{{/each}}    
    {{else}}
    <meta property="og:image" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/apple-icon-152x152.png"/>
    {{/if}}

    <meta name="twitter:site" content="@liqourdelivery"/>
    <meta name="twitter:title" content="{{{cleanHtml page.title}}}"/>
    <meta name="twitter:description" content="{{{truncate  (cleanHtml page.meta) 500}}}"/>
    {{#if product}}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{cloudinaryUrl product.image crop='fit'}}"/>
    {{else}}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/apple-icon-152x152.png"/>
    {{/if}}

    {{#if page.canonical}}<link rel="canonical" href="{{page.canonical}}"/>{{/if}}
    {{#if appUrl}}{{#ifeq env 'production'}}<base href="{{appUrl}}"/>{{/ifeq}}{{/if}}

    <style>
        @media (max-width: 991px) {
            .collection-heading-inner.heading-group.item {
                min-height: 377px !important;
            }
            .brand-group{
                padding-left: 0;
            }
        }
        
        @media (min-width: 992px) {
            .brand-group{
                padding-left: 30px;
            }
        }

        canvas.particles-js-canvas-el {
            position: fixed;
            top: 0;
            z-index: -1;
        }   
    </style>    
                            
    {{#if isMobile}}
        <style>
           .borb{
               background:#fff!important;
               color:#000;
               width: 90px;
               height:90px;
               border-radius:10%;
               display:inline-block;
               text-align:center;
               padding-top: 40px;
               overflow:hidden
              }

              .borb1{
               background:#2f93a3!important;
               color:#000;
               border-radius:10%;
               display:inline-block;
               text-align:center;
               padding-top: 40px;
               overflow:hidden
              }
            .col-sm-12.single { width: 100% !important; }
        </style>
    {{/if}} 
</head>

<body class="07_MediaCenter" id="dad_Body">
    {{!-- This file provides the default styling for the KeystoneJS Content Editor only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

    <link rel="alternate stylesheet" onload="if(this.rel != 'stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700,300"/>
    <link rel="alternate stylesheet" onload="if(this.rel != 'stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="alternate stylesheet" onload="if(this.rel != 'stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    
    {{#ifeq env 'production'}}
        <link rel="preload stylesheet" as="style" type="text/css" href="/styles/site{{dotmin}}.css">
    {{else}}
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/js/social-buttons.min.css">
        <link rel="stylesheet" type="text/css" href="/js/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="/js/owlcarousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/site/global.css">
        <link rel="stylesheet" type="text/css" href="/styles/site/layout.css">
        <link rel="stylesheet" type="text/css" href="/styles/site/styles.css">
        <!--script src="//cdn.jsdelivr.net/npm/less@3.13"></script-->
    {{/ifeq}}

    {{>jsscripts1}}
 <!-- nav -->

{{>header}}

<div class="fix-sticky"></div>

<!-- Main Content -->
<main class="main-content" role="main" style="min-height: 400px">
    <section class="collection-heading" style="background-color:rgb(245, 240, 240);">
        <div class="collection-heading-wrapper">
            <div class="container" style="{{#unless isMobile}}padding-top: 8px{{/unless}}">   
                
                {{#if page.bannerImages }}
                    <div class="row owl-carousel offset-0" data-items="1" data-autoplay="true" style="margin-bottom: 5px;">
                        {{#if isMobile}}
                            {{#each page.mobileBannerImages}}
                                <div class=" "
                                    style="height: 400px; background-image:url({{{cloudinaryUrl this height=400 width=400}}})">
                                </div>
                            {{/each}}
                        {{else}}
                            {{#each page.bannerImages}}
                                <div class="collection-heading-inner heading-group item inset-2"
                                    style="background-image:url({{{cloudinaryUrl this height=300 width=1140 crop='fit'}}})">
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                {{/if}}


                 {{#if isMobile}}
                    <div class="col-sm-4" style="font-size: 12px;">
                        {{#each navLinks}}                            
                            <a href="{{{href}}}">
                                {{#if image}}
                                <img class="borb" src="{{cloudinaryUrl image width=68 height=68 radius=1 crop='fill'}}" alt="{{{label}}}"/>
                                {{else}}
                                <span class="borb">{{{label}}}</span>
                                
                                {{/if}}
                            </a>
                        {{/each}}
                    </div>
                    {{#unless offers.length}}
                        <div class="row scroll-x" style="top: 139px;">
                            {{#each uifilters}}
                                <span class="filter noselect" data-filterby="{{this.filter}}">
                                    {{this.filter}} <small style="font-size: 0.8em; display: none">({{this.hits}})</small>
                                </span>
                            {{/each}}
                        </div>
                    {{/unless}}
                {{/if}} 
            </div>
        </div>
    </section>

    <section class="home3_featured" id="home_featured_layout">
        <div class="home_featured_wrapper">
            <div class="container" style="margin-bottom: 0">
                <div class="{{#if page.h1}}col-sm-4{{else}}col-sm-5{{/if}}" style="text-align: left;">
                    <div class="breadcrumb clearfix" style="background-color: transparent">
                        {{#each breadcrumbs}}
                            {{#if @last}}
                                <span itemprop="title" style="color: #f44336;">{{propercase label}}</span>
                                
                            {{else}}
                                <a href="{{href}}" title="Alcohol delivery - {{label}}" itemprop="url">
                                    <span itemprop="title">{{propercase label}}</span>
                                </a>
                                <span class="arrow-space">&#62;</span>
                            {{/if}}
                        {{else}}
                            <span itemprop="title" style="color: #f44336;">
								Home
							</span>
                        {{/each}}
                    </div>
                </div>

                <div class="{{#if page.h1}}col-sm-4{{else}}col-sm-3{{/if}}">
                    {{#if page.h1}}
                        <h1 class="home_featured_title home-title page-title">
                            <span class="category-name">{{{page.h1}}}</span>
                        </h1>
                    {{/if}}
                </div>

                <div class="col-sm-4">
                    <div class="col-sm-8" style="text-align: center; display:none;">                        
                        <span>Offer ends in </span><br><span class="countDownTimer" id="countDownTimer">00:00:00</span>
                    </div>
                </div>
            </div>           

            {{{body}}}

            {{#if page.content}}
                <div class="container content">
                    {{#if page.breafContent}}
                        <div id="breafContent">
                            {{{page.breafContent}}}
                            <div>
                                <a href="javascript:void(0)" onclick="showMore('#breafContent', '#fullContent')">Show more...</a>
                            </div>
                        </div>
                        
                        <div id="fullContent" style="display:none;">
                            {{{page.content}}}
                            <div>
                                <a href="javascript:void(0)" onclick="showLess('#breafContent', '#fullContent')">Show less...</a>
                            </div>
                        </div>
                    {{else}}
                        {{{page.content}}}
                    {{/if}}                    
                </div>

                {{!-- <div class="container shop-by-brand">
                {{#if groupedBrands}}
                    <h2 style="font-size: 15px;text-transform: uppercase">SHOP BY BRAND</h2>                    
                    {{#each groupedBrands}}
                        <div class="row" style="margin: 8px">
                            <div style="float: left; min-width: 80px"><b style="">{{@key}}</b>:</div> 
                            {{#each this}}
                                <a href="{{brandUrl key}}" title="{{name}}" style="display: inline-block;">{{{name}}}</a>
                                {{#unless @last}}<span style="color: #F44336"> | </span>{{/unless}}
                            {{/each}}
                        </div>
                    {{/each}}
                {{else}}

                {{/if}}
            </div>    --}}
            {{/if}}      

            <div class="container inst-checkout" style="width:100%; display:none;">
                <div class="col-md-4 action-wrapper" style="margin: 0 auto;">
                    <div class="flat-button view-cart" onclick="window.location='/cart'" style="cursor: pointer">
                        <span class="badge badge-secondary badge-pill cart-total-pieces" style="position:absolute;background-color:red;">0</span>
                        <img src="/images/ic_shopping_cart_empty.png" alt="My Cart" style="width: 46px;height: 46px;">
                        View Cart
                    </div>

                    <div class="flat-button" onclick="window.location='/checkout'" style="white-space: nowrap; cursor: pointer">
                        Instant Checkout
                    </div>                       
                </div>
            </div>
      
            <script type="text/javascript">
            {{#if isMobile}}   
                window.isMobile = true;
            {{else}}
                window.isMobile = false;
                $(document).ready(function(){
                    $(".inst-checkout").css({display: '{{#if isMobile}}block{{else}}flex{{/if}}'})
                    var width = $(document.body).width();
                    var left = (width - $(".inst-checkout").width())/2;
                    if(left > 0)
                        $(".inst-checkout").css({left: left});
                });
            {{/if}}
            
            function showMore(breaf, detailed){
                $(breaf).slideUp();
                $(detailed).slideDown();
                return false;
            }

            function showLess(breaf, detailed){
                $(breaf).slideDown();
                $(detailed).slideUp();
                return false;
            }

            </script>
            
        </div>
    </section>
</main>

{{>footer}}

<!-- Float right icon -->
<div class="float-right-icon" style="bottom:120px;">
    <ul>
        <li class="mobile-only">
            <a href="/cart" title="My cart">
                <span class="badge badge-secondary badge-pill cart-total-pieces" style="position: absolute;left: 18px;background-color: red;">0</span>
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/empty-cart-2.png" width="48px" alt="My cart">
            </a>
        </li>

        <li class="mobile-only">
            <a href="https://play.google.com/store/apps/details?id=com.dial.dialcustomer&pli=1" title="Play Store">
                <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/playstore_WU0YJrwAY.png?ik-sdk-version=javascript-1.4.3&updatedAt=1668080685429" alt="Youtube" height="48px">                                    
            </a>
        </li>

        <li class="mobile-only">
            <a href="tel:{{contactNumber}}" title="Call to order">
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/phoneicon.png" width="48px" alt="Call to order">
            </a>
        </li>  

        <li class="mobile-only">
            <a target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?l=en&phone={{{contactNumber}}}&text=I%20am%20interested%20in%20a%20drink%20from%20your%20site.%20{{urlencode page.canonical}}" title="Whatsup">
                <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/whatsapp.png" width="48px" alt="Whatsup to order">
            </a>
        </li> 
    </ul>
</div>

<div class="float-right-icon">
    <ul>
        <li>
            <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
                <i class="fa fa-angle-up"></i>
            </div>
        </li>
    </ul>
</div>

{{>jsscripts2}}
</body>
</html>