<!DOCTYPE html>
<html lang="en" {{#if page.canonical}}prefix="og: http://ogp.me/ns#"{{/if}}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Basic SEO Meta Tags -->
    <title>{{#if page.title}}{{page.title}}{{else}}{{appTitle}}{{/if}}</title>
    <meta name="description" content="{{#if page.description}}{{page.description}}{{else}}Kenya's leading online alcohol delivery service. Order whisky, beer, wine & more with fast delivery across Nairobi and major cities.{{/if}}">
    
    <!-- Robots Meta Tags -->
    <meta name="robots" content="{{#if robotsMeta}}{{robotsMeta}}{{else}}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{{/if}}">
    
    <!-- Canonical URL -->
    {{#if page.canonical}}
    <link rel="canonical" href="{{page.canonical}}">
    {{/if}}
    
    <!-- Open Graph Meta Tags -->
    {{#if openGraph}}
    <meta property="og:title" content="{{openGraph.title}}">
    <meta property="og:description" content="{{openGraph.description}}">
    <meta property="og:type" content="{{#if openGraph.type}}{{openGraph.type}}{{else}}website{{/if}}">
    <meta property="og:url" content="{{openGraph.url}}">
    {{#if openGraph.image}}
    <meta property="og:image" content="{{openGraph.image}}">
    <meta property="og:image:alt" content="{{openGraph.title}}">
    {{/if}}
    <meta property="og:site_name" content="Dial A Drink Kenya">
    {{/if}}
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{#if page.title}}{{page.title}}{{else}}{{appTitle}}{{/if}}">
    <meta name="twitter:description" content="{{#if page.description}}{{page.description}}{{else}}Kenya's leading online alcohol delivery service{{/if}}">
    {{#if openGraph.image}}
    <meta name="twitter:image" content="{{openGraph.image}}">
    {{/if}}
    
    <!-- Additional SEO Meta Tags -->
    <meta name="author" content="Dial A Drink Kenya">
    <meta name="generator" content="KeystoneJS">
    
    <!-- Structured Data -->
    {{#if structuredData}}
    <script type="application/ld+json">
    {{{json structuredData}}}
    </script>
    {{/if}}
    
    {{#if breadcrumbSchema}}
    <script type="application/ld+json">
    {{{json breadcrumbSchema}}}
    </script>
    {{/if}}
    
    {{#if organizationSchema}}
    <script type="application/ld+json">
    {{{json organizationSchema}}}
    </script>
    {{/if}}
    
    <!-- Favicon and Icons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <!-- DNS Prefetch for Performance -->
    <link rel="dns-prefetch" href="//res.cloudinary.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    
    <!-- Preload Critical Resources -->
    <link rel="preload" href="/styles/main.css" as="style">
    
    <!-- CSS -->
    <link href="/styles/main{{dotmin}}.css" rel="stylesheet">
    
    <!-- Additional Head Content -->
    {{{block "head"}}}
</head>

<body class="{{bodyClass}}">
    
    <!-- Skip Navigation for Accessibility -->
    <a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>
    
    <!-- Header -->
    <header role="banner">
        {{{block "header"}}}
    </header>
    
    <!-- Main Content -->
    <main id="main-content" role="main">
        {{{body}}}
    </main>
    
    <!-- Footer -->
    <footer role="contentinfo">
        {{{block "footer"}}}
    </footer>
    
    <!-- JavaScript -->
    <script src="/js/main{{dotmin}}.js"></script>
    
    <!-- Additional Scripts -->
    {{{block "js"}}}
    
</body>
</html>