<div class="movies-container">
    <div class="box">
        {{#with product}}
        <div class="photo">
            <img itemprop="image" class="image-responsive" src="{{cloudinaryUrl image width=580 height=580  crop='fit'}}" />
          </div>      
        
        <div class="info">
            
            <h1>{{name}}</h1>
            <br><br>
            
            {{{data.desc}}}
            <br><br>
            {{#each data.extra}}
                <p>Released in {{countryOfOrigin}}</p>
                <p>Filmed in {{film_location}}</p>
            {{/each}}

            {{/with}}
        </div>
    </div>
</div>