<table width="80%">
    <tr>
        <td>
            <!--<h1>DIAL A DRINK</h1>-->
            <h2>PRICE LIST</h2>
            <h3>DATE: {{formatDate lastUpdated 'MM Do, YYYY'}}</h3>
        </td>
    </tr>
    <tr>
        <th>Brand</th>
        <th>Quantity</th>
        <th style="text-align: right">Price</th>
    </tr>
    {{#each categories}}
		{{#if (and (gt @index 0) (div @index 2) )}}
            <!--</table>
            <p style="page-break-before: always"/>
            <table style="width: 100%">
                <tr>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th style="text-align: right">Price</th>
                </tr>-->
        {{/if}}
	
        <tr>
            <th colspan="3">
                {{this}}
            </th>
        </tr>

        {{#each ../products}}
            {{#ifeq this.category.name ../this}}
                {{#each priceOptions}}
                    <tr>
                        <td>{{../name}}</td>
                        <td>{{option.quantity}}</td>
                        <td style="text-align: right">{{currency}} {{formatNumber price}}</td>
                    </tr>
                {{/each}}
            {{/ifeq}}
        {{else}}
            <tr>
                <td colspan="3">No products found</td>
            </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="3">No products found</td>
        </tr>
    {{/each}}
</table>