<style>
    .featured-image img.img-responsive {
        min-height: 250px;
        max-height: 250px;
        
    }

    a.more-link {
        background: #2f93a3 !important;
        padding: 8px 14px 9px 35px;
        color: white  !important;
        border-radius: 19px;
    }

    a.more-link:after{
        content: '>';
        padding: 10px 0px 10px 39px;
    }

.product-container{
  border-color: #000;
  left: 35px;
}

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        

    }

    .containers{
        max-width: 90%;
        float: none;
        margin: 0 auto;
         
    }
    .float-container {
    border: 3px solid #fff;
    padding: 10px;
}

.side-container {
    border: 3px solid #fff;
    padding: 10px;
    width: 80%;
    float: right;

}

    .float-child1 {
    width: 16%;
    float: left;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom: 4px;
    background-color: #eeeff3;

}

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
    border: 2px solid red;
} 

.float-child2 {
    width: 80%;
    float: left;
    padding: 20px;
    
}

    .table-container{
        display: grid;
        grid-template-columns: auto auto;
        

    }
</style>
<div class="container">
    {{#if brand}}
        <div class="row">
            {{>brand}}
        </div>
    {{/if}}
</div>

{{!-- {{>navbar}} --}}

{{#if offers.length}}
    <div class="containers">
        <div class="{{#if isMobile}}grid-container{{else}}row products-grid{{/if}}">
            {{#each offers}}
                <div class="{{#if isMobile}}col-md-6 col-lg-6 col-sm-12 single{{else}}col-md-1 col-lg-2 col-sm-12{{/if}}" 
                    itemscope itemtype="http://schema.org/Product"
                    style="border: 1px outset #E5E4E2; border-radius: 15px; margin:4px;">                
                    {{>product}}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="containers">
        <div class="row">
            <a href="https://play.google.com/store/apps/details?id=com.dial.dialcustomer&pli=1">
                <img class="mobile-only"  width="100%" src="https://res.cloudinary.com/dyc0ieeyu/image/upload/c_fit,w_350/pages/WhatsApp_Image_2021-01-28_at_20.45.24_eopi7x.jpg"/>
                <img class="desktop-only" width="100%" src="https://res.cloudinary.com/dyc0ieeyu/image/upload/c_fit,w_700/pages/WhatsApp_Image_2021-01-28_at_17.13.47_d3fo7n.jpg"/>
            </a>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2 class="home_featured_title home-title page-title">
                    {{#each page.h1s}}
                        {{#ifeq @index 0}}
                            <span class="category-name">{{{this}}}</span>
                        {{/ifeq}}
                    {{else}}
                        <span class="category-name">Popular Drinks.</span>
                    {{/each}}    
                        
                </h2>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
        <div class="{{#if isMobile}}grid-container{{else}}row products-grid{{/if}}">
            {{#each popular}}
                <div class="{{#if isMobile}}col-md-6 col-lg-6 col-sm-12 single{{else}}col-md-1 col-lg-2 col-sm-12 single{{/if}}"
                    itemscope itemtype="http://schema.org/Product"
                    style="border: 1px outset #E5E4E2; border-radius: 15px; margin:4px;">                
                    {{>product}}
                </div>
            {{/each}}
        </div>
        
        {{#if brandFocus.length}}
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h2 class="home_featured_title home-title page-title">
                        {{#ifgt page.h1s.length 1}}
                            {{#each page.h1s}}
                                {{#ifeq @index 1}}
                                    <span class="category-name">{{{this}}}</span>
                                {{/ifeq}}
                            {{else}}
                                <span class="category-name">Brand Focus</span>
                            {{/each}}  
                        {{else}}
                            <span class="category-name">Brand Focus</span>   
                        {{/ifgt}}
                    </h2>
                </div>
                <div class="col-sm-4"></div>
            </div>
            
            <div class="{{#if isMobile}}grid-container{{else}}row products-grid{{/if}}">
                {{#each brandFocus}}
                    <div class="{{#if isMobile}}col-md-6 col-lg-6 col-sm-12 single{{else}}col-md-1 col-lg-2 col-sm-12 single{{/if}}" 
                        itemscope itemtype="http://schema.org/Product"
                        style="border: 1px outset #E5E4E2; border-radius: 15px; margin:4px;">                
                        {{>product}}
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
{{else}}
    {{#ifgt groupedProducts.length 2}}  
        {{#each groupedProducts}}
            <div class="container">
                {{#if key}}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h2 class="home_featured_title home-title page-title">
                                <span class="category-name">{{key}}</span>
                            </h2>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                {{/if}}

                <div class="{{#if isMobile}}grid-container{{else}}row products-grid{{/if}}">
                    {{#each products}}
                        <div class="{{#if isMobile}}col-md-6 col-lg-6 col-sm-12 single{{else}}col-md-3 col-lg-3 col-sm-12 single{{/if}}" 
                            itemscope itemtype="http://schema.org/Product"
                            style="box-shadow:3px 3px 3px #CFD8DC; margin-bottom :15px;">                
                            {{>product}}
                        </div>
                    {{/each}}
                </div>

                
                {{#if key}}
                {{#if hasMore}}
                    <div class="row" style="text-align: center;">
                        <a class="more-link" href="/{{cleanId key}}">More</a>
                    </div>
                {{/if}}
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        {{#if products.length}}
        

    <div class="float-container">
        <div class="{{#if isMobile}}container{{else}}float-child1{{/if}}">
       
             {{>navbar}}

        </div>

    </div>
        {{!-- Category Products START --}}
        <div class="{{#if isMobile}}container{{else}}side-container{{/if}}">
                <div class="{{#if isMobile}}grid-container{{else}}row products-grid{{/if}}">
                    {{#each products}}
                        <div class="{{#if isMobile}}col-md-6 col-lg-6 col-sm-12 single{{else}}col-md-3 col-lg-3 col-sm-12 single{{/if}}" 
                            itemscope itemtype="http://schema.org/Product"
                             style="border: 1px outset #E5E4E2; border-radius: 15px; margin:4px;">                        
                            {{>product}}
                        </div>
                    {{/each}}
                </div>
            </div>
            </div>
            {{!-- Category Products END --}}

        {{else}}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 style="font-size: 18px;">No results found!</h2>
                        <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/no_results.png"/>
                        <br/>
                        <a href="/">Back to Today's Offers</a>
                    </div>
                </div>    
            </div>
        {{/if}}
    {{/ifgt}}
{{/if}}

<div class="container">
    {{#if brand}}
        <div class="row">
            <div>
                <div>
                        <div  
                            itemscope itemtype="http://schema.org/Product">
    <table>
 <thead>
  <tr>

    <th style="width:20%">Product Name</th>
    <th style="width:10%">Size</th>
    <th style="width:10%">Price</th>
    <th style="width:10%">ABV</th>
    <th style="width:15%">Country</th>
    <th style="width:15%">Sub Category</th>
     
  </tr>
 </thead>
 <tbody>
  {{#each products}}
    <tr>
    	<td><a href="/{{name}}">{{name}}</a></td>
        <td>{{quantity}}</td>
        <td>Ksh. {{formatNumber price}}</td>
        <td>{{alcoholContent}} %</td>
        <td>{{countryOfOrigin}}</td>
        <td>{{subCategory.name}}</td>
    </tr>
  {{/each}}
  </tbody>
 </table>                                                 
</div>
                   
                </div>
            </div>
            
        </div>
    {{/if}}
</div>