<link rel="preload" href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

{{#with product}}
<div class="container-fluid" id="product-section" data-product="{{_id}}">

    <div class="row border border-light shadow-sm bg-white rounded p-3 mb-4">
        <!-- Product Image Thumbnails -->
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 order-1 order-md-1">
            <div class="d-flex flex-column">
                {{#each altImages}}
                <div class="card mb-2 border-0 shadow-sm">
                    <img alt="{{{../name}}}" class="card-img-top img-fluid rounded"
                        style="height: 60px; object-fit: cover; cursor: pointer;"
                        data-img="{{cloudinaryUrl this crop='fit' width=700 height=700 background_removal='cloudinary_ai'}}"
                        src="{{cloudinaryUrl this width=60 height=60 crop='fit'}}" />
                </div>
                {{else}}
                <div class="card mb-2 border-0 shadow-sm">
                    <img alt="{{{../name}}}" class="card-img-top img-fluid rounded"
                        style="height: 60px; object-fit: cover; cursor: pointer;"
                        data-img="{{cloudinaryUrl this crop='fit' width=700 height=700 background_removal='cloudinary_ai'}}"
                        src="{{cloudinaryUrl image width=60 height=60 crop='fit' background_removal='cloudinary_ai'}}" />
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Main Product Image -->
        <div class="col-lg-5 col-md-6 col-sm-9 col-8 order-2 order-md-2">
            <figure class="zoom text-center"
                style="background-image: url({{cloudinaryUrl image crop='fit' width=700 height=700 background_removal='cloudinary_ai'}})">
                <img loading="lazy" class="img-fluid rounded shadow"
                    src="{{cloudinaryUrl image width=400 height=400 crop='fit'}}"
                    data-src="{{cloudinaryUrl image crop='fit' width=700 height=700 background_removal='cloudinary_ai'}}"
                    alt="{{{name}}}" style="max-height: 450px; object-fit: contain;" />
            </figure>
        </div>

        <!-- Product Details -->
        <div class="col-lg-6 col-md-12 order-3 order-md-3">
            
            <!-- Product Title -->
            <div class="mb-4">
                <h1 class="display-4 text-primary font-weight-bold mb-2">
                    {{name}}
                </h1>
            </div>

            <!-- Stock Status and Category -->
            <div class="row mb-4">
                <div class="col-md-6">
                    {{#if inStock}}
                    <span class="badge badge-success p-2 mb-2">
                        <i class="fa fa-check-circle"></i> In Stock
                    </span>
                    {{else}}
                    <span class="badge badge-danger p-2 mb-2">
                        <i class="fa fa-times-circle"></i> Out of Stock
                    </span>
                    {{/if}}
                </div>
                <div class="col-md-6">
                    {{#if category.name}}
                    <div class="mb-2">
                        <strong class="text-muted">Category:</strong>
                        <a href="{{cleanId category.name}}" class="btn btn-outline-secondary btn-sm ml-2">
                            {{category.name}}
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!-- Additional Product Info -->
            <div class="row mb-4">
                <div class="col-md-6">
                    {{#if subCategory.name}}
                    <div class="mb-2">
                        <strong class="text-muted">Sub Category:</strong>
                        <a href="{{cleanId subCategory.name}}" class="btn btn-outline-info btn-sm ml-2">
                            {{subCategory.name}}
                        </a>
                    </div>
                    {{/if}}
                </div>
                <div class="col-md-6">
                    {{#if brand.name}}
                    <div class="mb-2">
                        <strong class="text-muted">Brand:</strong>
                        <a href="/brand/{{cleanId brand.href}}" class="btn btn-outline-primary btn-sm ml-2">
                            {{brand.name}}
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>

            <!-- Price Options -->
            <div class="mb-4">
                {{#ifgt options.length 1}}
                <h5 class="text-muted mb-3">Choose Size & Price:</h5>
                <div class="row">
                    {{#each options}}
                    <div class="col-lg-6 col-md-12 mb-3">
                        <div class="card border {{#unless inStock}}border-muted{{else}}border-primary{{/unless}} h-100">
                            <div class="card-body p-3">
                                <div class="custom-control custom-radio">
                                    <input type="radio" 
                                           class="custom-control-input option" 
                                           id="option-{{@index}}"
                                           name="priceOption" 
                                           {{#if inStock}}{{#ifeq ../price price}}checked{{/ifeq}}{{else}}disabled{{/if}}
                                           value="{{quantity}}" 
                                           data-value="{{price}}" 
                                           data-option="{{../id}}|{{quantity}}"
                                           data-qty="{{quantity}}" 
                                           data-product="{{../_id}}">
                                    <label class="custom-control-label w-100 {{#unless inStock}}text-muted{{/unless}}" 
                                           for="option-{{@index}}">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <strong class="h6 mb-0">{{quantity}}</strong>
                                                {{#unless inStock}}
                                                <span class="badge badge-warning ml-2">Out of Stock</span>
                                                {{/unless}}
                                            </div>
                                            <div class="text-right">
                                                <span class="text-muted small">{{currency}}</span>
                                                {{#if percentOffer}}
                                                <div>
                                                    <small class="text-muted">
                                                        <s>{{formatNumber price}}</s>
                                                    </small>
                                                    <div class="h5 text-success mb-0">{{formatNumber offerPrice}}</div>
                                                    <small class="badge badge-success">{{percentOffer}}% OFF</small>
                                                </div>
                                                {{else}}
                                                <div class="h5 text-dark mb-0">{{formatNumber price}}</div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <h4 class="card-title text-primary mb-3">
                            {{quantity}}
                        </h4>
                        <div class="mb-2">
                            <span class="text-muted">{{currency}}</span>
                            {{#if percentOffer}}
                            <div>
                                <h3 class="text-muted">
                                    <s>{{formatNumber price}}</s>
                                </h3>
                                <h2 class="text-success" id="product-price">
                                    {{formatNumber offerPrice}}
                                </h2>
                                <span class="badge badge-success p-2">{{percentOffer}}% OFF</span>
                            </div>
                            {{else}}
                            <h2 class="text-primary" id="product-price">{{formatNumber price}}</h2>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/ifgt}}
            </div>
            </div>

            <div class="add-to-cart-wrapper">
                <div class="col-md-5 product-qty">
                    <span id="pieces-plus" class="pieces-plus btn btn-default btn-lg btn-qty"
                        style="width: 46px;color: black !important;">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </span>
                    <input id="pieces" class="pieces btn btn-default btn-lg btn-qty"
                        style="width: 48px;color: black !important;" value="1" />
                    <span id="pieces-minus" class="pieces-minus btn btn-default btn-lg btn-qty"
                        style="width: 46px;color: black !important;">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </span>
                </div>
                <div class="col-md-10" style="margin-top: 5px">
                    {{#if inStock}}
                    <image
                        src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/cart_qAUSkm_Fr.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1644052524419"
                        alt="Add to Cart" class="add-to-cart" data-qty="{{quantity}}" data-product="{{_id}}"
                        style="font-size: 17px !important;padding: 5px 5px;top: 5px;text-transform: none;max-width: 170px;cursor: pointer;">
                    </image>
                    {{else}}
                    <br />
                    <p class="monospaced label label-warning" style="font-size: 18px;">
                        <a target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?l=en&phone='+254723688108'&text=I would like you to notify me once the {{{name}}}%20 is back in stock
                            https://www.dialadrinkkenya.com/{{{_id}}}" title="Notification">
                            Notify me once in Stock
                        </a>
                    </p>
                    </span>
                    {{/if}}

                </div>
            </div><!-- end row -->

            <div class="col-md-8" style="padding-left: 10px !important; color: black; font-size: 16px">
                <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/delivery__2__ncdnk5-JF.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666967423015"
                    style="width:40px;" alt="Whatsup to order">
                <b>15 - 30 Min Express Delivery : KES.195</b>
            </div><br />

            <div class="col-md-8" style="padding-left: 10px !important; color: black; font-size: 16px">

                <a target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?l=en&phone='+254723688108'&text=I%20would%20like to%20order%201%20{{{name}}}%20{{quantity}}%20@%20{{price}} %20
                            https://www.dialadrinkkenya.com/{{{_id}}}" title="WhatsApp">
                    <img loading="lazy" src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/whatsapp.png"
                        style="width:40px;" alt="Whatsup to order"> Order by WhatsApp
                </a>

            </div>
        </div>
        <div class="col-md-5">
            <h4 class="my-0">
                <a class="cart-product-link" href="/tonic-water">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/tonic_ebnFJx_7Q.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1656410684685"
                        alt="Tonic" style="height:90px;">
                </a>

                <a class="cart-product-link" href="/coca-cola-can">
                    <img loading="lazy"
                        src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/dial_products/coke_O4ezu53k7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1675442934104"
                        alt="Coke" style="height:90px;">
                </a>

                <a class="cart-product-link" href="/redbull-can">

                    <img loading="lazy"
                        src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/dial_products/redbull-can_ud2A3b9BWQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1661846859101"
                        alt="Coke" style="height:80px;">
                </a>

                <a class="cart-product-link" href="/delmonte">

                    <img loading="lazy"
                        src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/dial_products/delmonte-passion_5FR4igMnQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1661844921079"
                        alt="Delmonte" style="height:90px;">
                </a>
            </h4>

        </div>
    </div>
    <br>

    <div class="row" style="border: 5px solid lightgray;">
        <table style="width:50%">
            <tbody style="border: 5px solid #fff;">
                <tr>
                    <th style="padding-left: 10px">Product Name</th>
                    <td style="border: 5px solid #fff; text-align:left;">{{name}}</td>
                </tr>

                {{#if alcoholContent}}
                <tr>
                    <th style="padding-left: 10px">Alcohol Content (ABV)</th>
                    <td style="border: 5px solid #fff; text-align:left;">{{alcoholContent}}%</td>
                </tr>
                {{/if}}

                {{#if countryOfOrigin}}
                <tr>
                    <th style="padding-left: 10px">Country Of Origin</th>
                    <td style="border: 5px solid #fff; text-align:left;"><a
                            href="/product-origin/{{cleanId countryOfOrigin}}">{{countryOfOrigin}}</a></td>
                </tr>
                {{/if}}

                {{#if howToOpen}}
                <tr>
                    <th style="padding-left: 10px">How to Open</th>
                    <td style="border: 5px solid #fff; text-align:left;">{{howToOpen}}</td>
                </tr>
                {{/if}}

                {{#if brand.name}}
                <tr>
                    <th style="padding-left: 10px">Brand</th>
                    <td style="border: 5px solid #fff; text-align:left;">{{brand.name}}</td>
                </tr>
                {{/if}}

                {{#if grape.name}}
                <tr>
                    <th style="padding-left: 10px">Grape</th>
                    <td style="border: 5px solid #fff; text-align:left;"><a
                            href="/brand/{{cleanId grape.name}}">{{grape.name}}</a></td>
                </tr>
                {{/if}}

                {{#if inStock}}

                <tr>
                    <th style="padding-left: 10px">Availability</th>
                    <td style="border: 5px solid #fff; text-align:left;">In Stock</a></td>
                </tr>
                {{else}}
                <tr>
                    <th style="padding-left: 10px">Availability</th>
                    <td style="border: 5px solid #fff; text-align:left;">Out of Stock</a></td>
                </tr>
                {{/if}}

                <tr>

                    <td style="border: 5px solid #fff; text-align:left;">{{name}} price in Nairobi</td>
                </tr>

                {{#if ../page.canonical}}

                <tr>
                    <th style="padding-left: 10px">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer.php?u={{../page.canonical}}" target="_blank">
                            <img style="width: 32px;" src="https://platform-cdn.sharethis.com/img/facebook.svg"
                                alt="Facebook" />
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url={{../page.canonical}}&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                            target="_blank">
                            <img style="width: 32px;" src="https://platform-cdn.sharethis.com/img/twitter.svg"
                                alt="Twitter" />
                        </a>

                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{../page.canonical}}"
                            target="_blank">
                            <img style="width: 32px;" src="https://platform-cdn.sharethis.com/img/linkedin.svg"
                                alt="LinkedIn" />
                        </a>
                    </th>
                </tr>

                {{/if}}


            </tbody>
        </table>
    </div>


    <div class="row">
        <div class="col-md-12 more-details">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {{#if description}}
                <li role="presentation" class="active">
                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
                </li>
                {{/if}}
                {{#if youtubeUrl}}
                <li role="presentation">
                    <a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">Youtube</a>
                </li>
                {{/if}}
                <li role="presentation">
                    <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {{#if description}}
                <div role="tabpanel" class="tab-pane active" id="description">
                    {{{cleanHtml description}}}
                </div>
                {{/if}}
                <!-- Youtube video-->
                {{#if youtubeUrl}}
                <div role="tabpanel" class="tab-pane top-10" id="youtube">
                    {{#if ../isMobile}}
                    <iframe width="320" height="180" src="{{youtubeUrl}}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0"
                        allowfullscreen>
                    </iframe>
                    {{else}}
                    <iframe width="560" height="315" src="{{youtubeUrl}}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0"
                        allowfullscreen>
                    </iframe>
                    {{/if}}
                </div>
                {{/if}}
                <!-- End youtube video-->

                <div role="tabpanel" class="tab-pane" id="reviews">
                    <div class="row">
                        <div class="col-md-12 {{#if ../userRating}}rated{{else}}unrated{{/if}}">
                            <span class="glyphicon glyphicon-star{{#ifgte 0 averageRatings}}-empty{{/ifgte}}"
                                aria-hidden="true">
                            </span>
                            <span class="glyphicon glyphicon-star{{#ifgte 1 averageRatings}}-empty{{/ifgte}}"
                                aria-hidden="true">
                            </span>
                            <span class="glyphicon glyphicon-star{{#ifgte 2 averageRatings}}-empty{{/ifgte}}"
                                aria-hidden="true">
                            </span>
                            <span class="glyphicon glyphicon-star{{#ifgte 3 averageRatings}}-empty{{/ifgte}}"
                                aria-hidden="true">
                            </span>
                            <span class="glyphicon glyphicon-star{{#ifgte 4 averageRatings}}-empty{{/ifgte}}"
                                aria-hidden="true">
                            </span>

                            <span>
                                <span class="label label-success">
                                    <span>{{formatNumber averageRatings 1}}</span> *
                                </span>&nbsp;

                                {{#if ratingCount}}
                                <span class="monospaced">{{ratingCount}}</span> reviews.
                                {{else}}
                                <span class="monospaced">1</span> reviews.
                                {{/if}}

                                {{#unless ../userRating}}
                                <span class="monospaced right">Rate {{truncate name 25}}!</span>
                                {{/unless}}
                            </span>

                        </div>
                    </div><!-- end row -->

                    {{#if reviews}}{{>productReview}}{{/if}}
                </div>
            </div>
        </div>

        {{#if ../related}}
        <div style="border-top: 1px solid lightgray;" class="row">
            <h2 style="font-size: 15px;">Other's also ordered..</h2>
            {{#each ../related}}
            <div class="col-sm-2 col-12">
                {{>product2}}
            </div>
            {{/each}}
        </div>
    </div>
    <!-- end row -->
    {{/if}}

    {{#if ../similar}}
    <div style="border-top: 1px solid lightgray;" class="row">
        <h2 style="font-size: 15px;">You may also like..</h2>
        {{#each ../similar}}
        <div class="col-sm-2 col-12">
            {{>product2}}
        </div>
        {{/each}}
    </div>
</div>
<!-- end row -->
{{/if}}
<div class="row">

</div>
</div><!-- end container -->

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{{name}}}",
  "image": [
    "{{cloudinaryUrl image crop='fit' width='300'}}"
   ],
  "description": "{{{truncate (cleanHtml description) 155 ' '}}}",
  "brand": {
    "@type": "Brand",
    "name": "{{{cleanHtml brand.name}}}"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "bestRating": "5",
    "ratingValue": "{{#if averageRatings}}{{averageRatings}}{{else}}4.5{{/if}}",
    "ratingCount": "{{#if ratingCount}}{{#ifgt ratingCount 0}}{{ratingCount}}{{else}}1{{/ifgt}}{{else}}1{{/if}}"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "{{#if currency}}{{currency}}{{else}}KES{{/if}}",
    "price": "{{#if price}}{{price}}{{else}}1000{{/if}}",     
    {{#if percentOffer}}
    "highPrice": "{{price}}",
    "lowPrice": "{{offerPrice}}",  
    {{/if}}
    "priceValidUntil": "{{#if priceValidUntil}}{{priceValidUntil}}{{else}}2025-12-31{{/if}}",
    "availability": "http://schema.org/{{#if inStock}}InStock{{else}}OutOfStock{{/if}}",
    "seller": {
      "@type": "Organization",
      "name": "{{../title}}"
    },
    "hasMerchantReturnPolicy": {
          "@type": "MerchantReturnPolicy",
          "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
          "merchantReturnDays": 7,
          "returnMethod": "https://schema.org/ReturnByMail",
          "returnFees": "https://schema.org/FreeReturn"
        },
    "shippingDetails": {
          "@type": "OfferShippingDetails",
          "shippingRate": {
            "@type": "MonetaryAmount",
            "value": 0,
            "currency": "KES"
          }
          }
  }
}
</script>

{{/with}}

<script>
    window.minifiedMenu = true;
    $(document).ready(function () {
        if (addaffix) addaffix();
        //$('.tab-content .tab-pane').scrollbar();
        //$(".similar-products").owlCarousel({items:12})

        {{#if userRating}}
        var index = Math.min(5, {{userRating.rating}});
    for (var i = 0; i < index; i++)
        $(".rated .glyphicon").eq(i).css("color", "orange");
    {{/if}}
    });
</script>