<link rel="preload" href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
<style type='text/css'>
.price-options {
    width: 50%;
    margin-top: 5px;
    white-space: nowrap;
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
.card {
    width: 50%;
    margin-top: 5px;
    white-space: nowrap;
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    height: 20px;
    width: 12px;
}

</style>

{{#with product}}
    <div class="container" id="product-section" 
        data-product="{{_id}}" itemscope itemtype="http://schema.org/Product">
        
        <div class="row" style="border: 5px solid lightgray;">
            <div class="col-sm-1 col-12">
                {{#each altImages}}
                    <div class="thumbnail" style="width: 48px;">
                        <img alt="{{{../name}}}" height="42" width="42" 
                                data-img="{{cloudinaryUrl this crop='fit' width=700 height=700 background_removal='cloudinary_ai'}}"
                                src="{{cloudinaryUrl this width=42 height=42 crop='fit'}}"/>
                    </div>
                {{else}}
                    <div class="thumbnail" style="width: 48px;">
                        <img alt="{{{../name}}}" height="42" width="42" 
                                data-img="{{cloudinaryUrl this crop='fit' width=700 height=700 background_removal='cloudinary_ai'}}"
                                src="{{cloudinaryUrl image width=42 height=42 crop='fit' background_removal='cloudinary_ai'}}"/>
                    </div>
                {{/each}}
            </div>

            <div class="col-sm-4 col-12">
                <figure class="zoom" style="background-image: url({{cloudinaryUrl image crop='fit' width=700 height=700 background_removal='cloudinary_ai'}})">
                    <img loading="lazy" itemprop="image" class="image-responsive" 
                        src="{{cloudinaryUrl image width=380 height=380  crop='fit'}}" 
                        data-src="{{cloudinaryUrl image crop='fit' width=700 height=700 background_removal='cloudinary_ai'}}" alt="{{{name}}}"
                        style="min-height: 380px; max-height: 400px; margin: 0 auto" />
                </figure>
            </div>

            <div class="col-sm-7 col-12">
               
                <div class="col-md-8" style="font-size: 20px; color: #2f93A3; padding: 12px;">   
                    <h1>
                     <span class="category-name">{{name}}</span>
                    </h1>
                         {{!-- <b>{{name}}</b> --}}
                       
                </div>

                {{!-- <div class="col-md-8" style="padding-left: 10px !important; color: black; font-size: 16px">
                    <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/delivery__2__ncdnk5-JF.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666967423015" width="40px" alt="Whatsup to order">
                    <b>15 - 30 Min Express Delivery : KES.195</b>
                    </div><br /> --}}

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 text-left">
                                {{#if inStock}}
                                    <span class="monospaced label label-success">In Stock</span>
                                        {{else}}
                                    <span class="monospaced label label-danger">Out of Stock</span>
                                    {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

             <div class="col-md-12 bottom-rule">
                        {{#ifgt options.length 1}}
                            <div class="change-quantity">  
                                {{#each options}}
                                    <label style="font-size: 16px;{{#unless inStock}}text-decoration: line-through;{{/unless}}" class="price-options" data-qty="{{quantity}}" data-product="{{../_id}}"
                                        style="margin-top:5px; white-space:nowrap;" 
                                        itemscope="itemscope" itemprop="offers" itemtype="http://schema.org/Offer">
                                        <input type="radio" style="margin: 8px 0 0;" class="option" name="priceOption" 
                                            {{#if inStock}}{{#ifeq ../price price}}checked{{/ifeq}}{{else}}disabled{{/if}}
                                            value="{{quantity}}" data-value="{{price}}" data-option="{{../id}}|{{quantity}}"/>
                                        <span itemprop="priceCurrency">{{currency}}</span>
                                        {{#if percentOffer}}
                                            <span itemprop="price" content="{{offerPrice}}" class="product-price">
                                                <span style="font-size: 0.8em; text-decoration: line-through; color: orangered">
                                                    <span>{{formatNumber price}}</span>
                                                </span>
                                                <span>
                                                    {{formatNumber offerPrice}}
                                                </span>
                                            </span>
                                        {{else}}
                                            <span itemprop="price" content="{{price}}" class="product-price">{{formatNumber price}}</span>
                                        {{/if}}
                                        <span itemprop="priceQuantity">{{quantity}}</span>                                        
                                    </label>
                                {{/each}}
                            </div>
                        {{else}}
                            <h4 style="margin-top:5px; white-space:nowrap; color: orangered; padding-left: 10px;" itemscope itemprop="offers" itemtype="http://schema.org/Offer">              
                                <span itemprop="priceQuantity">{{quantity}} @</span>
                                <span itemprop="priceCurrency">{{currency}}</span>
                                {{#if percentOffer}}
                                    <span>
                                        <span style="font-size: 0.8em; text-decoration: line-through; color: orangered">
                                            <span>{{formatNumber price}}</span>
                                        </span>
                                        <span itemprop="price" content="{{offerPrice}}" class="product-price" id="product-price">
                                            {{formatNumber offerPrice}}
                                        </span>
                                    </span>
                                {{else}}
                                    <span itemprop="price" content="{{price}}" class="product-price" id="product-price">{{formatNumber price}}</span>
                                {{/if}}  
                            </h4>
                        {{/ifgt}}
                    </div>

                    <div class="row add-to-cart-wrapper">
                    <div class="col-md-5 product-qty">
						<span id="pieces-plus" class="pieces-plus btn btn-default btn-lg btn-qty" style="width: 46px;color: black !important;">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</span>
                        <input id="pieces" class="pieces btn btn-default btn-lg btn-qty" style="width: 48px;color: black !important;" value="1"/>
                        <span id="pieces-minus" class="pieces-minus btn btn-default btn-lg btn-qty"
                              style="width: 46px;color: black !important;">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</span>
                    </div>
                    <div class="col-md-10" style="margin-top: 5px">
                        {{#if inStock}}
                            <image src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/cart_qAUSkm_Fr.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1644052524419" 
                                alt="Add to Cart"
                                class="add-to-cart" 
                                data-qty="{{quantity}}" data-product="{{_id}}" 
                                style="font-size: 17px !important;padding: 5px 5px;top: 5px;text-transform: none;max-width: 170px;cursor: pointer;">
                            </image>
                            {{else}}
                            <br />
                            <p class="monospaced label label-warning" style="font-size: 18px;">
                            <a target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?l=en&phone='+254723688108'&text=I would like you to notify me once the {{{name}}}%20 is back in stock
                            https://www.dialadrinkkenya.com/{{{_id}}}" title="Notification">
                             Notify me once in Stock
                            </a>
                            </p>
                            </span>
                        {{/if}}
                         
                    </div>                    
                </div><!-- end row -->
                
                <div class="col-md-8" style="padding-left: 10px !important; color: black; font-size: 16px">
                     
                         <a target="_blank" rel="noreferrer" href="https://api.whatsapp.com/send?l=en&phone='+254723688108'&text=I%20would%20like to%20order%201%20{{{name}}}%20{{quantity}}%20@%20{{price}} %20
                            https://www.dialadrinkkenya.com/{{{_id}}}" title="WhatsApp">
                            <img loading="lazy" src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/whatsapp.png" width="40px" alt="Whatsup to order"> Order by WhatsApp
                        </a>

                    </div>
            </div>
            <div class="col-md-5">
						<h4 class="my-0">
							<a class="cart-product-link" href="/tonic-water">
							<img loading="lazy" src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/tonic_ebnFJx_7Q.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1656410684685" alt="Tonic" height="90px">
							</a>

                            <a class="cart-product-link" href="/coca-cola-can">
                            <img loading="lazy" src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/dial_products/coke_O4ezu53k7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1675442934104" alt="Coke" height="90px">
							</a>

                            <a class="cart-product-link" href="/redbull-can">

                            <img loading="lazy" src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/dial_products/redbull-can_ud2A3b9BWQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1661846859101" alt="Coke" height="80px">
							</a>

                            <a class="cart-product-link" href="/delmonte">

                            <img loading="lazy" src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/dial_products/delmonte-passion_5FR4igMnQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1661844921079" alt="Delmonte" height="90px">
							</a>
						</h4>
						 
					</div>           
        </div>
        <br>
       
        <div class="row" style="border: 5px solid lightgray;">

<div itemscope itemtype="http://schema.org/Product">
<table style="width:50%" >
 <tbody style="border: 5px solid #fff;">
    <tr>
         <th style="padding-left: 10px">Product Name</th>
         <td style="border: 5px solid #fff; text-align:left;">{{name}}</td>
    </tr>

    {{#if alcoholContent}}
    <tr>
         <th style="padding-left: 10px">Alcohol Content (ABV)</th>
         <td style="border: 5px solid #fff; text-align:left;">{{alcoholContent}}%</td>
    </tr>
    {{/if}}

    {{#if countryOfOrigin}}
    <tr>
         <th style="padding-left: 10px">Country Of Origin</th>
         <td style="border: 5px solid #fff; text-align:left;"><a href="/product-origin/{{cleanId countryOfOrigin}}">{{countryOfOrigin}}</a></td>
    </tr>
    {{/if}}

    {{#if howToOpen}}
    <tr>
         <th style="padding-left: 10px">How to Open</th>
         <td style="border: 5px solid #fff; text-align:left;">{{howToOpen}}</td>
    </tr>
    {{/if}}

    {{#if brand.name}}
    <tr>
         <th style="padding-left: 10px">Brand</th>
         <td style="border: 5px solid #fff; text-align:left;"><a href="/brand/{{cleanId brand.name}}">{{brand.name}}</a></td>
    </tr>
    {{/if}}

    {{#if grape.name}}
    <tr>
         <th style="padding-left: 10px">Grape</th>
         <td style="border: 5px solid #fff; text-align:left;"><a href="/brand/{{cleanId brand.name}}">{{grape.name}}</a></td>
    </tr>
    {{/if}}

    {{#if inStock}}

    <tr>
         <th style="padding-left: 10px">Availability</th>
         <td style="border: 5px solid #fff; text-align:left;">In Stock</a></td>
    </tr>
    {{else}}
        <tr>
         <th style="padding-left: 10px">Availability</th>
         <td style="border: 5px solid #fff; text-align:left;">Out of Stock</a></td>
    </tr>
    {{/if}}

    {{#if subCategory.name}}
    <tr>
         <th style="padding-left: 10px">Sub Category</th>
         <td style="border: 5px solid #fff; text-align:left;"><a href="{{cleanId subCategory.name}}">{{subCategory.name}}</a></td>
    </tr>
    {{/if}}

    {{#if ../page.canonical}}

    <tr>
        <th style="padding-left: 10px">	
        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer.php?u={{../page.canonical}}" target="_blank">
        <img style="width: 32px;" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
                            
        <!-- Twitter -->
        <a href="https://twitter.com/share?url={{../page.canonical}}&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img style="width: 32px;" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
                             
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{../page.canonical}}" target="_blank">
        <img style="width: 32px;" src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>
        </th>
        </tr>
                             
    {{/if}}
                

  </tbody>
 </table> 
 </div>
</div>

        <div class="row">        
            <div class="col-md-12 more-details">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {{#if description}}
                        <li role="presentation" class="active">
                            <a href="#description"
                               aria-controls="description"
                               role="tab"
                               data-toggle="tab">Description</a>
                        </li>
                    {{/if}}
                    {{#if youtubeUrl}}
                        <li role="presentation">
                            <a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">Youtube</a>
                        </li>
                    {{/if}}
                    <li role="presentation">
                        <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {{#if description}}
                        <div role="tabpanel" class="tab-pane active" id="description">
                            {{{description}}}
                        </div>
                    {{/if}}
                    <!-- Youtube video-->
                    {{#if youtubeUrl}}
                        <div role="tabpanel" class="tab-pane top-10" id="youtube">
                            {{#if ../isMobile}}
                                <iframe width="320" height="180" 
                                    src="{{youtubeUrl}}" 
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    frameborder="0" allowfullscreen>
                                </iframe>
                            {{else}}
                                <iframe width="560" height="315" 
                                    src="{{youtubeUrl}}" 
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    frameborder="0" allowfullscreen>
                                </iframe>
                            {{/if}}
                        </div>
                    {{/if}}
                    <!-- End youtube video-->

                    <div role="tabpanel" class="tab-pane" id="reviews">
                        <div class="row">
                            <div class="col-md-12 {{#if ../userRating}}rated{{else}}unrated{{/if}}">
                                <span class="glyphicon glyphicon-star{{#ifgte 0 averageRatings}}-empty{{/ifgte}}"
                                    aria-hidden="true">
                                </span>
                                <span class="glyphicon glyphicon-star{{#ifgte 1 averageRatings}}-empty{{/ifgte}}"
                                    aria-hidden="true">
                                </span>
                                <span class="glyphicon glyphicon-star{{#ifgte 2 averageRatings}}-empty{{/ifgte}}"
                                    aria-hidden="true">
                                </span>
                                <span class="glyphicon glyphicon-star{{#ifgte 3 averageRatings}}-empty{{/ifgte}}"
                                    aria-hidden="true">
                                </span>
                                <span class="glyphicon glyphicon-star{{#ifgte 4 averageRatings}}-empty{{/ifgte}}"
                                    aria-hidden="true">
                                </span>

                                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    <span class="label label-success">
                                        <span itemprop="ratingValue">{{formatNumber averageRatings 1}}</span> *
                                    </span>&nbsp;

                                    {{#if ratingCount}}
                                        <span itemprop="ratingCount" class="monospaced">{{ratingCount}}</span> reviews.
                                    {{else}}
                                        <span itemprop="ratingCount" class="monospaced">1</span> reviews.
                                    {{/if}}

                                    {{#unless ../userRating}}
                                        <span class="monospaced right">Rate {{truncate name 25}}!</span>
                                    {{/unless}}
                                </span>

                            </div>
                        </div><!-- end row -->
                        
                        {{#if reviews}}{{>productReview}}{{/if}}
                    </div>
                </div>
            </div>

            {{#if ../related}}
            <div style="border-top: 1px solid lightgray;" class="row">
                <h2 style="font-size: 15px;">Other's also ordered..</h2>
                    {{#each ../related}}
                        <div class="col-sm-2 col-12">
                            {{>product2}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <!-- end row -->
            {{/if}}

            {{#if ../similar}}
            <div style="border-top: 1px solid lightgray;" class="row">
                <h2 style="font-size: 15px;">You may also like..</h2>
                    {{#each ../similar}}
                        <div class="col-sm-2 col-12">
                            {{>product2}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <!-- end row -->
            {{/if}}
        <div class="row">

        </div>
    </div><!-- end container -->
    
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{{name}}}",
  "image": [
    "{{cloudinaryUrl image crop='fit' width='300'}}"
   ],
  "description": "{{{truncate (cleanHtml description) 500 ' '}}}",
  "brand": {
    "@type": "Thing",
    "name": "{{{cleanHtml brand.name}}}"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "bestRating": "5",
    "ratingValue": "{{#if averageRatings}}{{averageRatings}}{{else}}4{{/if}}",
    "ratingCount": "{{#if ratingCount}}{{ratingCount}}{{else}}0{{/if}}"
  } 
  {{#if price}},
  "offers": {
    "@type": "Offer",
    "priceCurrency": "{{currency}}",
    "price": "{{price}}",     
    {{#if percentOffer}}
    "highPrice": "{{price}}",
    "lowPrice": "{{offerPrice}}",  
    {{/if}}
    "priceValidUntil": "{{priceValidUntil}}",
    "availability": "http://schema.org/{{#if inStock}}InStock{{else}}OutOfStock{{/if}}",
    "seller": {
      "@type": "Organization",
      "name": "{{../title}}"
    }
  }{{/if}}
}
</script>

{{/with}}

<script>
    window.minifiedMenu = true;
    $(document).ready(function () {
        if (addaffix) addaffix();
        //$('.tab-content .tab-pane').scrollbar();
        //$(".similar-products").owlCarousel({items:12})

        {{#if userRating}}
            var index = Math.min(5,{{userRating.rating}});
            for (var i = 0; i < index; i++)
                $(".rated .glyphicon").eq(i).css("color", "orange");
        {{/if}}
    });
</script>