<a href="{{brandUrl key}}" title="{{name}}" style="display :block; color: black;">
    <div class="featured-brand" style="text-align :center; boarder-radius: 2px; margin: 5px">
        <div class="item-name"
             style="text-align:center; justify-content :center; color: black;min-height: 120px">

            {{#if logo.secure_url}}
                <img src="{{cloudinaryUrl logo crop='fit'}}" alt="{{{name}}}"
                     class="img-responsive" itemprop="image"
                     style="margin: auto;max-width: 100%;"/>
            {{else}}
                
            {{/if}}

            <div class="brand-details">
                <a href="{{brandUrl key}}" title="{{name}}">
                    <div itemprop="name" class="brand-name"
                         style="bottom: 0;position: absolute; left: 35%; font-size: 12px!important; color: black;white-space: nowrap; height: auto">
                        <div style="">{{{truncate name 15}}}</div>
                    </div>
                </a>
                <!--<div style="font-size: 12px !important;">{{company.name}}</div>-->
            </div>
        </div>
    </div>
</a>
