<div class="container" id="product-section"
     data-product="{{brand._id}}"
     itemscope itemtype="http://schema.org/Brand">
    <div class="row">
        <div class="col-md-4">
            <img src="{{cloudinaryUrl brand.logo crop='fit'}}" alt="{{{name}}}"
                 class="img-responsive" itemprop="image"
                 style="margin: auto; width: 100%;"/>
        </div>
        <div class="col-md-6" style="margin: 0 42px;">
            <div class="row">
                <h2 style="font-size: 18px">{{brand.name}}</h2>
                <p>{{brand.description}}</p>
            </div>

            {{#if brand.company.name}}
                <div class="row">
                    <h2 style="font-size: 18px">
                        <small>Owned by: </small> {{brand.company.name}}</h2>
                    <p>{{brand.company.description}}</p>
                </div>
            {{/if}}
        </div>
    </div><!-- end row -->
</div><!-- end container -->

<script>
    window.minifiedMenu = true;
    $(document).ready(function () {
        if (addaffix) addaffix();
        //$('.tab-content .tab-pane').scrollbar();
        //$(".similar-products").owlCarousel({items:12})

        {{#if userRating}}
            var index = Math.min(5,{{userRating.rating}});
            for (var i = 0; i < index; i++)
                $(".rated .glyphicon").eq(i).css("color", "orange");
        {{/if}}
    })
</script>
