<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 footerleft ">
                <h4 class="heading7">DIAL A DRINK KENYA</h4>
                <ul class="footer-ul">
                    <li>
                        <a href="/mybrands">Brands</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/delivery-locations">Delivery Locations</a>
                    </li>
                    <li>
                        <a href="/pricelist">Get Our Pricelist</a>
                    </li>
                    <li>
                        <a href="/">Drinks Delivery Kenya</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h4 class="heading7">GENERAL LINKS</h4>
                <ul class="footer-ul">
                    <li>
                        <a href="/terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="/privacy-policy" title="Buy alcohol online in Kenya" rel="noopener">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/sitemap">Sitemap</a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.dial.dialcustomer&pli=1">Get Our App</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h4 class="heading7">PAYMENT METHODS</h4>

                <ul style="color: #fff">
                    <li><p>Cash On Delivery</p></li>
                    <li>
                        <p>
                            <img src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/mpesa.png" alt="Pay via MPESA" style="height:30px;">
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/visas.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656403969407" alt="Pay via VISA" style="height:30px;">
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/credit.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656404136596" alt="Pay Via Master Card" style="height:30px;">
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h4 class="heading7">SOCIAL NETWORKS</h4>
                <div class="footer-ul">
                    <a href="https://www.facebook.com/drinkdeliverynairobi" title="{{{appTitle}}} Facebook"
                       class="icon-social facebook">
                            <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/facebooks.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656402362067" alt="Facebook" style="height:30px;">
                      
                    </a>
                    <a href="https://twitter.com/liqourdelivery" title="{{{appTitle}}} Twitter"
                       class="icon-social twitter">

                            <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/twitter.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656402940870" alt="Twitter" style="height:30px;">
                       
                        
                    </a>
                    <a href="https://instagram.com/dial_a_drink_kenya" title="{{{appTitle}}} Instagram"
                       class="icon-social instagram">
                         <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/instagram.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656403108054" alt="Instagram" style="height:30px;">
                      
                    </a>
                    <a href="https://www.youtube.com/user/dialadrink" title="{{{appTitle}}} Youtube"
                       class="icon-social youtube">
                         <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/youtube.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656403317907" alt="Youtube" style="height:30px;">
                      
                    </a>
                    <a href="https://plus.google.com/u/1/102101315171058540161" title="{{{appTitle}}} Google+"
                       class="icon-social google-plus">
                        <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/google.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656403331553" alt="Google Plus" style="height:30px;">
                      
                    </a>
                    <a href="https://www.pinterest.com/liqourdelivery" title="{{{appTitle}}} Pinterest"
                       class="icon-social google-plus">
                       <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/pinterest.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656403555265" alt="Google Plus" style="height:30px;">
                      
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>{{{appTitle}}} 2017 - All Rights Reserved</p>
        </div>
        <div class="col-md-6">
           
        </div>
    </div>
</div>