<style>
    .borb {
    width: 50%;
    float: left;
    padding: 10px;
    background-color: #c5c6D0;
    border: 2px solid red;
} 

    
</style>
<div>
    <h2 style="font-size: 13px;">Filter Selection: </h2>                    
    {{#each subCategories}}
        <div >
            <div style="float: left; min-width: 80px; padding-left: 10px; font-size: 13px;">      
                <a href="/{{{cleanId subCategory.name}}}">
                <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/unchecked__1__265HFKNlC.png?updatedAt=1680081970350" alt="Check" style="height: 15px;">
                 {{{subCategory.name}}} </a>
   
            </div> <br>
        </div>
    {{/each}}
</div>

<br>
<div>
    <h2 style="font-size: 13px;">Grapes : </h2>                    
    {{#each grapes}}
        <div >
            <div style="float: left; min-width: 80px; padding-left: 10px; font-size: 13px;">
                <a href="/{{{cleanId grape.name}}}">
                <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/unchecked__1__265HFKNlC.png?updatedAt=1680081970350" alt="Check" style="height: 15px;">
                   {{{grape.name}}} </a>
   
            </div> <br>
             
        </div>
    {{/each}}

</div>
{{!-- <div>
    <h2 style="font-size: 13px;">Size : </h2>                    
    {{#each sizes}}
        <div >
            <div style="float: left; min-width: 80px; padding-left: 10px; font-size: 13px;">
                <a href="{{{cleanId category.name}}}/{{{cleanId size.name}}}">
                <img src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/unchecked__1__265HFKNlC.png?updatedAt=1680081970350" alt="Check" style="height:15px;">
                   {{{size.name}}} </a>
   
            </div> <br>
             
        </div>
    {{/each}}

</div> --}}