
<div>
    <div style="float: left;">
{{#if percentOffer}}
    <a href="{{productUrl href}}" aria-label="{{{percentOffer}}}% off on {{{name}}}" style="position: absolute; display :block; color: black;">
        <div class="product-promo">
            <span>
                {{{percentOffer}}}%
            </span>
        </div>
    </a>
{{/if}}
</div>
</div>

<div class="featured-image" style="text-align :center;" aria-label="Access product {{{name}}}" id="product{{_id}}">
    <div class="product-hover-blind"></div>
    
    {{!-- <a class="product-hover" href="myproduct{{productUrl href}}"> --}}
        <a class="product-hover" href="{{productUrl href}}">
        <img alt="{{{name}}}" src="https://res.cloudinary.com/nmasuki/image/upload/v1561049835/icons/magnify.png">
    </a>   

    <div class="item-name" style="text-align:center; justify-content :center; color: black">
        <img src="{{cloudinaryUrl image width="200" height="200" crop='fill' background_removal='cloudinary_ai'}}" 
                data-src="{{cloudinaryUrl image width=500 height=500 crop='fill' background_removal='cloudinary_ai'}}" 
                title="{{{name}}}..{{truncate (cleanHtml description) 100}}"
                itemprop="image" alt="{{{name}}}"
                class="img-responsive" 
            style="margin: auto"/>
           
        <div itemscope itemprop="offers" itemtype="http://schema.org/Offer" class="price-details">
            <meta itemprop="availability" content="http://schema.org/{{#if inStock}}InStock{{else}}OutOfStock{{/if}}"/>
            <meta itemprop="url" content="{{{appUrl}}}{{productUrl href}}"/>
            <meta itemprop="priceValidUntil" content="{{priceValidUntil}}"/>
            <div itemprop="name" class="drinks-name">
                <a href="{{productUrl href}}" style="font-size: 14px; color: black; font-family:'Arial, Helvetica', sans-serif;">
                    {{truncate name 30}}
                </a>
            </div>  
            <div>
                {{#ifgt alcoholContent 0}}
                    <p style="font-size: 12px; color: rgb(104, 95, 95);">(ABV {{{alcoholContent}}}%), {{{countryOfOrigin}}}</p>
                    {{/ifgt}}
            </div>          
            <div style="font-size: 12px; font-family:'Arial, Helvetica', sans-serif; color: rgb(104, 95, 95);" >
                {{#each stockOptions}}
                    <br> <a href="#" class="add-to-cart"
                        data-qty="{{quantity}}" data-product="{{../_id}}">
                        <span>{{quantity}}</span>
                        <span itemprop="priceCurrency">{{currency}}</span>
                        {{#if offerPrice}}
                            <span>
                                <span style="font-size: 0.8em; text-decoration: line-through; color: orangered">
                                    <span>{{formatNumber price}}</span>
                                </span>
                                <span itemprop="price" content="{{offerPrice}}">{{formatNumber offerPrice}}</span>
                            </span>
                        {{else}}
                            <span itemprop="price" content="{{price}}">{{formatNumber price}}</span>
                        {{/if}}
                    </a>
                {{/each}}
            </div>
        </div>
        
        <div class="dropdown zindex2">
            {{#if inStock}}
                {{#ifgt stockOptions.length 1}}
                    <image src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/cart_qAUSkm_Fr.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1644052524419" 
                        alt="Add to Cart" class="add-to-cart-2" data-qty="{{quantity}}" data-product="{{_id}}" 
                        style="font-size: 14px !important; padding: 0 15px; text-transform: none;max-width: 170px;cursor: pointer;">
                        {{#ifgt options.length 1}}
                            <span class="dropdown zindex2" style="left: -39px;">
                                <i style="color: white;" class="fa fa-angle-down"></i>
                            </span>
                        {{/ifgt}}
                    </image>                        
                    <div class="dropdown-content">
                        {{#each stockOptions}}
                            <a href="#" class="add-to-cart"
                                data-qty="{{quantity}}" data-product="{{../_id}}">
                                <span>{{quantity}}</span>
                                {{#if percentOffer}}
                                    <span>
                                        <span style="font-size: 0.8em; text-decoration: line-through; color: orangered">
                                            <span>{{formatNumber price}}</span>
                                        </span>
                                        <span itemprop="price" content="{{offerPrice}}">{{formatNumber offerPrice}}</span>
                                    </span>
                                {{else}}
                                    <span itemprop="price" content="{{price}}">{{formatNumber price}}</span>
                                {{/if}}
                            </a>
                        {{/each}}
                    </div>
                {{else}}
                    <image src="https://ik.imagekit.io/wcyvhkbdjw4r/Dial_A_Drink/cart_qAUSkm_Fr.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1644052524419" 
                        alt="Add to Cart" class="add-to-cart" data-qty="{{quantity}}" data-product="{{_id}}" 
                        style="font-size: 14px !important; padding: 0 15px; text-transform: none;max-width: 170px;cursor: pointer;">
                    </image>
                {{/ifgt}}
            {{else}}
                <image src="https://res.cloudinary.com/nmasuki/image/upload/soldout.png"
                    alt="Sold out!"
                        style="font-size: 14px !important; padding: 0 15px; text-transform: none;max-width: 170px;cursor: text;">
                </image>
            {{/if}}
        </div>
    </div>
</div>

<script class="json" id="json{{_id}}" type="application/ld+json">{{{json this}}}</script>
