{{#ifgt price offerPrice}}
    <a href="{{productUrl href}}" aria-label="{{{percentOffer}}}% off on {{{name}}}" style="position: absolute; display :block; color: black;">
        <div class="product-promo">
            <span>
                {{{percentOffer}}}%
            </span>
        </div>
    </a>
{{/ifgt}}

<div class="featured-image" style="text-align :center;">
    <a href="{{productUrl href}}" aria-label="Access product {{{name}}}" id="product{{_id}}" style="display :block; color: black;">
        <div class="item-name" style="text-align:center; justify-content :center; color: black">
            <img src="{{cloudinaryUrl image width=100 height=100 crop='fill'}}" 
                data-src="{{cloudinaryUrl image width=250 height=250 crop='fill'}}" 
                title="{{{name}}}..{{truncate (cleanHtml description) 100}}"
                class="img-responsive" 
                style="margin: auto"
                itemprop="image"
                alt="{{{name}}}"/>

            <a href="{{productUrl href}}" style="font-size: 15px; color: black; ">
                <div itemprop="name" class="drinks-name">
                    {{{name}}}
                </div>
            </a>

            <span>{{quantity}}</span><br>
            <span itemscope itemprop="offers" itemtype="http://schema.org/Offer">
                <meta itemprop="availability" content="http://schema.org/{{#if inStock}}InStock{{else}}OutOfStock{{/if}}"/>
                <meta itemprop="url" content="https://www.dialadrinkkenya.com{{productUrl href}}"/>
                <meta itemprop="priceValidUntil" content="{{priceValidUntil}}"/>
                <span itemprop="priceCurrency">{{currency}}</span>
                {{#ifgt price offerPrice}}
                    <span>
                        <span style="font-size: 0.8em; text-decoration: line-through; color: orangered">
                            <span>{{formatNumber price}}</span>
                        </span>
                    <span itemprop="price" content="{{offerPrice}}">{{formatNumber offerPrice}}</span>
                    </span>
                {{else}}
                    <span itemprop="price" content="{{price}}">{{formatNumber price}}</span>
                {{/ifgt}}
            </span>
            <br>
            <div class="dropdown">
                {{#if inStock}}
                    <image src="https://res.cloudinary.com/nmasuki/image/upload/c_fill/buynow.png" 
                        alt="Add to Cart"
                        class="add-to-cart" 
                        data-qty="{{quantity}}" data-product="{{_id}}" 
                        style="font-size: 14px !important; padding: 0 15px; text-transform: none;max-width: 170px;cursor: pointer;">
                        {{#ifgt options.length 1}}
                            <span class="dropdown">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        {{/ifgt}}
                    </image>
                    {{#ifgt options.length 1}}
                        <div class="dropdown-content">
                            {{#each options }}
                                <a href="#" class="add-to-cart"
                                    data-qty="{{quantity}}" data-product="{{../_id}}">
                                    {{quantity}} - {{currency}} {{price }}
                                </a>
                            {{/each}}
                        </div>
                    {{/ifgt}}
                {{else}}
                    <image src="https://res.cloudinary.com/nmasuki/image/upload/soldout.png"
                        style="font-size: 14px !important; padding: 0 15px; text-transform: none;max-width: 170px;cursor: text;"
                        alt="Sold out!"/>
                {{/if}}
            </div>
        </div>
    </a>
</div>
