<!doctype html>
<html lang="en" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <title>{{titleReplacePipe page.title}}</title>

    <meta charset="utf-8"/>
    <meta name="_csrf" content="{{csrf_token_value}}"/>

    {{!--PWA meta--}}
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    {{!--PWA setups and js regestry--}}
    
    {{>pwaheaders}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{truncate  (cleanHtml page.meta) 500 ' '}}"/>

    {{#if page.keyWords}}<meta name="keywords" content="{{page.keyWords}}"/>{{/if}}
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:site_name" content="{{appTitle}}"/>
    <meta property="og:description" content="{{{truncate  (cleanHtml page.meta) 500}}}"/>

    {{#if product}}
        {{#each product.altImages}}<meta property="og:image" content="{{cloudinaryUrl this crop='fit'}}"/>{{else}}<meta property="og:image" content="{{cloudinaryUrl product.image crop='fit'}}"/>{{/each}}
        <meta property='product:price:amount' content='{{product.price}}'/>
        <meta property='product:price:currency' content='{{product.currency}}'/>
    {{else}}
        <meta property="og:image" content="https://res.cloudinary.com/nmasuki/image/upload/c_fill/icons/apple-icon-152x152.png"/>
    {{/if}}

    <meta name="twitter:site" content="@liqourdelivery"/>
    {{#if product}}<meta name="twitter:card" content="summary_large_image"/>{{/if}}
    <meta name="twitter:title" content="{{{cleanHtml page.title}}}"/>
    <meta name="twitter:description" content="{{{truncate  (cleanHtml page.meta) 500}}}"/>
    {{#if page.canonical}}<link rel="canonical" href="{{page.canonical}}"/>{{/if}}

    <style>

        @media (max-width: 991px) {
            .collection-heading-inner.heading-group.item {
                min-height: 377px !important;
            }
            .brand-group{
                padding-left: 0;
            }
        }
        
        @media (min-width: 992px) {
            .brand-group{
                padding-left: 30px;
            }
        }

        canvas.particles-js-canvas-el {
            position: fixed;
            top: 0;
            z-index: -1;
        }
        
    </style>
</head>

<body class="07_MediaCenter" id="dad_Body">

    {{!-- This file provides the default styling for the KeystoneJS Content Editor only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

    <link rel="alternate stylesheet" onload="if(this.rel!='stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700,300"/>
    <link rel="alternate stylesheet" onload="if(this.rel!='stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="alternate stylesheet" onload="if(this.rel!='stylesheet') this.rel='stylesheet'; return true" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="preload stylesheet" as="style" type="text/css" href="/styles/site{{dotmin}}.css">

    {{>jsscripts1}}
 <!-- nav -->

<div class="fix-sticky"></div>

<!-- Main Content -->
<main class="main-content" role="main" style="min-height: 400px">
    <section class="collection-heading">
        <div class="collection-heading-wrapper">
        </div>
    </section>

    <section class="home3_featured" id="home_featured_layout">
        <div class="home_featured_wrapper">
            <div class="container" style="margin-bottom: 0">
                <div class="{{#if page.h1}}col-sm-4{{else}}col-sm-5{{/if}}" style="text-align: left;">
                    
                </div>

                <div class="{{#if page.h1}}col-sm-4{{else}}col-sm-3{{/if}}">
                    {{#if page.h1}}
                        <h1 class="home_featured_title home-title page-title">
                            <span class="category-name">{{{page.h1}}}</span>
                        </h1>
                    {{/if}}
                </div>

                <div class="col-sm-4">
                    <div class="col-sm-8" style="text-align: center; display:none;">                        
                        <span>Offer ends in </span><br><span class="countDownTimer" id="countDownTimer">00:00:00</span>
                    </div>
                    
                    {{#if isMobile}}
                        <style>
                            .col-sm-12.single { width: 100% !important; }
                        </style>
                    {{/if}}

                    {{#unless isMobile}}
                        {{#if uifilters}}
                            <div class="col-sm-4" style="float:right">
                                <span class="sorting noselect dropdown-toggle">
                                    <span id="sortby" style="padding-left: 5px;">Sorted by Name</span>
                                    <i class="fa fa-sort-amount-asc" style="float: right; padding:6px;"></i>
                                </span>
                                <ul class="dropdown-menu" style="display: none; left: -30%;">
                                    <li class="noselect sort-products" data-sortby="name">Name<i class="fa fa-sort-alpha-asc" style="float: right;padding-right: 5px;"></i></li>
                                    <li class="noselect sort-products" data-sortby="price">Price<i class="fa fa-sort-amount-asc" style="float: right;padding-right: 5px;"></i></li>
                                    <li class="noselect sort-products" data-sortby="popularity">Popularity<i class="fa fa-sort-amount-asc" style="float: right;padding-right: 5px;"></i></li>
                                    <li class="noselect sort-products" data-sortby="size">Quantity<i class="fa fa-sort-numeric-asc" style="float: right;padding-right: 5px;"></i></li>
                                </ul>             
                            </div>
                        {{/if}}
                    {{/unless}}
                </div>
            </div>

            {{{body}}}

            {{#if page.content}}
                <div class="container content">
                    {{{page.content}}}
                </div>
            {{/if}}
            
        </div>
    </section>
</main>

{{>jsscripts2}}
</body>
</html>
